<%= form_with(model: toy, local: true) do |f| %>
  <% if toy.errors.any? %>
    <div id="error_explanation">
      <h2>Toy not saved due to <%= pluralize(toy.errors.count, "error") %>:</h2>
      <ul>
        <% toy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <p class="field">
      <strong><%= f.label :name %>: </strong>
      <%= f.text_field :name %>
    </p>

    <p class="field">
      <strong><%= f.label :description %>: </strong><br>
      <%= f.text_area :description %>
    </p>

    <p class="field">
      <strong><%= f.label :img_url %>: </strong>
      <%= f.text_field :img_url %>
    </p>

    <p class="field">
      <strong><%= f.label :user %>: </strong>
      <% if editing %>
        <%= User.find(toy.user_id).email %>
      <% else %>
        <%= f.select :user_id, options_for_select( User.order('email').all.collect { |u| [u.email, u.id] } ) %>
      <% end %>
    </p>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>