<h1><%= image_tag(@toy.img_url) %><%= @toy.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  Posted by <%= @user.email %> at <%= @toy.date_posted %>
</p>

<p>
  <%= @toy.description %>
</p>

<p>
  <%= link_to "Edit", edit_toy_path(@toy) %> | <%= link_to "Back", toys_path %>
</p>