<%= form_with(model: manufacturer, local: true) do |f| %>
  <% if manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2>manufacturer not saved due to <%= pluralize(manufacturer.errors.count, "error") %>:</h2>
      <ul>
        <% manufacturer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <strong><%= f.label :name %>: </strong>
    <%= f.text_field :name %>
  </p>

  <p class="field">
    <strong><%= f.label :location %>: </strong>
    <%= f.text_field :location %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>