<h1>Manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th colspan="2"></th>
  </tr>

  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></td>
      <td><%= manufacturer.location %></td>
      <td><%= link_to "Edit", edit_manufacturer_path(manufacturer) %></td>
      <td><%= link_to "Delete", manufacturer_path(manufacturer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New Manufacturer", new_manufacturer_path %>